/* devanagari */
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/karma/v16/va9I4kzAzMZRGLBpQeNVkqDOeTY.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/karma/v16/va9I4kzAzMZRGLBmQeNVkqDOeTY.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/karma/v16/va9I4kzAzMZRGLBoQeNVkqDO.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a{

}

.dby-link{
  font-size: 25px;
  text-decoration: none;
}

.dby-link:hover{
  color:pink
}

.readmore{
  font-size: 15px;
  text-decoration: none;
}

.readmore:hover{
  color:pink
}

.container {
  display: flex;
  justify-content: space-between; /* 两边分散对齐 */
  align-items: center; /* 垂直方向上居中对齐 */
  position: relative;
  padding: 10px 0; /* 控制上下的空白 */
}

/* Recipe 的样式 */
.center {
position: absolute;
left: 50%;
transform: translateX(-50%);
}

/* Read more 靠右对齐 */
.right {
margin-left: auto; /* 让 Read more 靠右 */
}

/* Carousel 样式 */
.carousel-container {
display: flex;
width:100%;
position: relative; /* 使按钮可以相对容器进行定位 */
overflow: hidden; /* 限制显示区域，超出部分隐藏 */
align-items: center; /* 垂直居中 */
}

.carousel-wrapper {
display: flex;
width: 100%;
transition: transform 0.5s ease-in-out;
will-change: transform;
}

.carousel-item {
max-width: 100%;
flex: 0 0 100%; /* 每个项目占 25% 宽度 */
box-sizing: border-box;
padding: 10px;
object-fit: contain;
}

/* 确保图片能够适应其父容器 */
.carousel-item img {
max-width: 100%;  /* 图片占满父容器 */
display: block;
}

/* 按钮样式 */
.carousel-button {
position: absolute;
top: 50%;
transform: translateY(-50%); /* 垂直居中 */
background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
color: white;
border: none;
font-size: 24px;
padding: 10px;
cursor: pointer;
z-index: 2;
}

/* 左边按钮靠左 */
.carousel-button.left {
left: 0;
}

/* 右边按钮靠右 */
.carousel-button.right {
right: 0;
}

/* 鼠标悬停时的效果 */
.carousel-button:hover {
background-color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 1024px) {
.carousel-item {
flex: 0 0 25%; /* 每张图片占 25% 的宽度 */
}
}

/* 中等屏设备，每次显示 2 张 */
@media (min-width: 768px) and (max-width: 1024px) {
.carousel-item {
flex: 0 0 50%; /* 每张图片占 50% 的宽度 */
}
}

/* 小屏设备，每次显示 1 张 */
@media (max-width: 768px) {
.carousel-item {
flex: 0 0 100%; /* 每张图片占 100% 的宽度 */
}
}